<%= render 'shared/search_bar_v2' %>
<div class="content">
  <div class="container">
  <h1 class = "text-center">Nos beaux chevaux</h1>
    <div class ="row">
      <div class="col-xs-6">

        <div class ="row">
          <% if @horse_search.empty? %>
            <p>Nous n'avons trouvé aucune demi-pension dans un rayon de <%=  params["/horses"][:rayon]%>km autour de <%= params["/horses"][:location] %>.</p>
            <p>Ou il n'y a pas de demi-pension dans les dates indiquer</p>
          <%end%>
          <% @horse_search.first(8).each do |horse| %>
            <div class="col-xs-12 col-sm-6">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path horse.horse_pic.path, height: 300, width: 400, crop: :fill %>')">
                <div class="card-description">
                  <h2><%= horse.name.capitalize %></h2>
                  <p><%= horse.title.capitalize %></p>
                </div>
                <%= link_to "See details", horse, class:"card-link"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
