<div class="content">
  <div class="container">

    <div class= "row">

      <h1 class= "text-center">Nos beaux chevaux</h1>
        <%= simple_form_for :search, html: {class: "text-center"}, url: horses_path, method: :get do |f| %>
        <div class="form-inline">
        <%= f.input :address, label: "Adresse" %>
        <%= f.input :race, collection: Horse.races %>
        </div>
        <div class="form-inline">
        <%= f.input :begin_date, as: :date, label: "Date de début" %>
        <%= f.input :final_date, as: :date, label: "Date de fin" %>
        <%= f.button :submit, class: "btn btn-primary", value: "Rechercher" %>
        </div>
      <% end %>

      <% if @horses.blank? %>
      <h4>Il n'y a pas de chevaux correspondants à votre recherche.</h4>
      <% else %>
      <% @horses.each do |horse| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path horse.horse_pic.path, height: 300, width: 400, crop: :fill %>')">
        <div class="card-description">
          <h2><%= horse.name.capitalize %></h2>
          <p><%= horse.title.capitalize %></p>
        </div>
        <%= link_to "See details", horse, class:"card-link"%>
      </div>
      </div>
      <% end %>
      <% end %>
    </div>

  </div>

  <div id="map"></div>

</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
