<% content_for(:title_tag) do %>
  Fiche cheval: <%= @horse.name %>
<% end %>

<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @horse.horse_pic.path, height: 900, width: 1000, crop: :fill %>'); background-position: center;">
  <div class="banner-content">
    <h1>
      <%= @horse.title.capitalize %>
      <% if current_user == @horse.user %>
        <%= link_to edit_horse_path(@horse) do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        <%= link_to horse_path(@horse), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-times" aria-hidden="true"></i>
         <% end %>
      <% end %>
    </h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="header-booking">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-details">
            <div class="user">
              <% if @horse.user.facebook_picture_url == nil %>
              <%= cl_image_tag @horse.user.photo.path, id: "user_pic", class: "avatar-extralarge"  %>
              <% else %>
              <%= image_tag @horse.user.facebook_picture_url, id: "user_pic", class: "avatar-extralarge" %>
              <% end %>
              <h2><%= @horse.user.first_name %></h2>
            </div>
            <div class="address">
              <h3><i class="fa fa-map-marker" aria-hidden="true"></i>    <%= @horse.address %></h3>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="booking-new text-center">
          <%= render "bookings/form", horse: @horse, booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="white-wrapper">
  <div class="horse-description">
    <div class="container">
      <h3>Le cheval</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p><strong>Nom :</strong> <%= @horse.name %></p>
          <p><strong>Âge :</strong> <%= (Date.today - @horse.birth_date).to_i / 365 %> ans</p>
          <p><strong>Sexe :</strong> <%= @horse.sexe %></p>
          <p><strong>Race :</strong> <%= @horse.race %></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p><strong>Discipline :</strong> <%= @horse.disciplines %></p>
          <p><strong>Caractère :</strong> <%= @horse.character %></p>
          <p><strong>Niveau requis :</strong> Galop <%= @horse.required_level %></p>
          <p><strong>Prix de la demi-pension :</strong> <%= @horse.monthly_price %> € / mois</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p><strong>Description :</strong> <%= @horse.description %></p>
          <p><strong> Note moyenne:</strong>
          <% @horse.average_rating.to_i.times do %>
            <i class="fa fa-star" aria-hidden="true" id="rating-1"></i>
          <% end %> <%= (@horse.average_rating) %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="horse-description">La localisation</h3>
<div id="map" style="width: 100%; height: 300px;"></div>

<div class="morephotos">
  <% @horse.photos.each do |photo| %>
  <%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
  <% end %>
</div>

<div class="bouton text-center">
<%= link_to "Retourner à l'index", horses_path, class:"btn btn-primary" %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
    {
    "lat": <%= @horse.latitude %>,
    "lng": <%= @horse.longitude %>,
  }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });

  <% end %>
<% end %>







