<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @horse.horse_pic.path, height: 900, width: 1000, crop: :fill %>'); background-position: center;">
  <div class="banner-content">
    <h1><%= @horse.title.capitalize %></h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="header-booking">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-details">
            <div class="user">
              <% if @horse.user.facebook_picture_url == nil %>
              <%= cl_image_tag @horse.user.photo.path, id: "user_pic", class: "avatar-extralarge"  %>
              <% else %>
              <%= image_tag @horse.user.facebook_picture_url, id: "user_pic", class: "avatar-extralarge" %>
              <% end %>
              <h2><%= @horse.user.first_name %></h2>
            </div>
            <div class="address">
              <h3><i class="fa fa-map-marker" aria-hidden="true"></i>    <%= @horse.address %></h3>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="booking-new text-center">
          <%= render "bookings/form", horse: @horse, booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="white-wrapper">
  <div class="horse-description">
    <div class="container">
      <h3>Le cheval</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Nom : <%= @horse.name %></p>
          <p>Âge : <%= @horse.birth_date %></p>
          <p>Sexe : <%= @horse.sexe %></p>
          <p>Race : <%= @horse.race %></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>Discipline : <%= @horse.disciplines %></p>
          <p>Caractère : <%= @horse.character %></p>
          <p>Niveau requis : Galop <%= @horse.required_level %></p>
          <p>Prix de la demi-pension : <%= @horse.monthly_price %> € / mois</p>
        </div>
      <div class="col-xs-12 col-sm-4">
        <p><%= @horse.description %></p>
      </div>
    </div>
  </div>
</div>
</div>

  <div class="morephotos">
    <% @horse.photos.each do |photo| %>
    	<%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
    <% end %>
  </div>

  <% if current_user == @horse.user %>
    <p> <%= link_to "Editer", edit_horse_path(@horse), class: "btn btn-primary" %>
  <%end%>
  <p> <%= link_to "Retourner à l'index", horses_path, class:"btn btn-primary" %></p>










