<div class="container">
  <div class="profile">
    <div class="main text-center">
      <div class="main-content">
        <h2><%= @horse.title.capitalize %><h2>
        <%= cl_image_tag @horse.horse_pic.path, width: 200, height: 300, crop: :fill %>
        <h3> <%= @horse.name.capitalize %></h3>
        <h3>Proprietaire: <%= @horse.user.first_name.capitalize + " " + @horse.user.last_name.capitalize %></h3>
      </div>
    </div>
    <div class="description">
      <div class="description-content">
        <p><%= @horse.description %></p>
        <p>Le cheval est dispo ici: <%= @horse.address %></p>
        <p>Le cheval est né le : <%= @horse.birth_date %></p>
        <p>C'est un: <%= @horse.sexe%></p>
        <p>Il est de la race: <%= @horse.race %></p>
        <p>Il peut faire: <%= @horse.disciplines %></p>
        <p>Il est plutot: <%= @horse.character %> </p>
        <p>ICI FORMULAIRE DE RESERVATION</p>
      </div>
    </div>
  </div>
  <div class="morephotos">
    <% @horse.photos.each do |photo| %>
    	<%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
    <% end %>
  </div>
  <% if current_user == @horse.user %>
    <p> <%= link_to "Editer", edit_horse_path, class: "btn btn-primary" %>
  <%end%>
  <p> <%= link_to "Retourner à l'index", horses_path, class:"btn btn-primary" %></p>
</div>
