 <div class="container">
    <div class="row">
      <div class="booking-new">
      <%= simple_form_for [@horse, @booking] do |f| %>
        <%= f.input :start_date, label: "Début", as: :date, start_year: Date.today.year %>
        <%= f.input :end_date, label: "Fin", as: :date, start_year: Date.today.year  %>
        <p>Prix par mois : <span id= "horse_price"><%=  @horse.monthly_price  %></span> €</p>
        <p> Nombre de mois : <span id="days"></span></p>
        <p> Prix total : <span id="price"></span> €</p>
        <%= f.submit class: 'btn btn-primary', value: "Réserver" %>
      <% end %>

    </div>
  </div>
</div>

