<h1 id="booking-show">Le demi-pension</h1>

<div class="container">
  <div class="row">
    <div class="booking-show">
      <div class="col-xs-12 col-sm-3">
        <h4>Le propriétaire :</h4>
        <% if @horse.user.facebook_picture_url == nil %>
        <%= cl_image_tag @horse.user.photo.path, id: "user_pic", class: "avatar-extralarge"  %>
        <% else %>
        <%= image_tag @horse.user.facebook_picture_url, id: "user_pic", class: "avatar-extralarge" %>
        <% end %>
        <%= @horse.user.first_name %>
      </div>

      <div class="col-xs-12 col-sm-3">
        <h4>Le demi-pensionnaire :</h4>
        <% if @booking.user.facebook_picture_url == nil %>
        <%= cl_image_tag @booking.user.photo.path, id: "user_pic", class: "avatar-extralarge"  %>
        <% else %>
        <%= image_tag @booking.user.facebook_picture_url, id: "user_pic", class: "avatar-extralarge" %>
        <% end %>
        <%= @booking.user.first_name %>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="booking-informations text-center">
          <h4>Informations</h4>
          <p>Date de début : <%= @booking.start_date %></p>
          <p>Date de fin : <%= @booking.end_date %></p>
          <p>Prix total : <%= @booking.price %> €</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="message-status">
          <% if @booking.status == "En attente" && current_user == @booking.horse.user%>
            <p class="status pending">Status: <%= @booking.status %></p>
            <%= link_to 'Accepter', accepted_booking_path(@booking), class: "btn btn-success", method: :patch%> - <%= link_to 'Refuser', decline_booking_path(@booking), class: "btn btn-danger", method: :patch%>
            <%= link_to 'Annuler', decline_booking_path(@booking), class: "btn btn-warning", method: :patch%>
          <% elsif @booking.status == "Valider" %>
            <p class="status.accepted">Status: <%= @booking.status %></p>
            <%= link_to 'Annuler', decline_booking_path(@booking), class: "btn btn-warning", method: :patch%>
          <% elsif @booking.status == "Refuser" %>
            <p class="status.declined">Status: <%= @booking.status %></p>
          <% elsif @booking.status == "Annuler" %>
            <p class="status.declined">Status: <%= @booking.status %></p>
          <% else @booking.status == "Terminer" %>
            <p class="status.accepted">Status: <%= @booking.status %></p>
        </div>
          <%end%>
      </div>
    </div>
  </div>
</div>

<div class="white-wrapper">
  <div class="horse-description">
    <div class="container">
      <h3>Infos sur le cheval</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p><strong>Nom :</strong> <%= @horse.name %></p>
          <p><strong>Âge :</strong> <%= (Date.today - @horse.birth_date).to_i / 365 %> ans</p>
          <p><strong>Sexe :</strong> <%= @horse.sexe %></p>
          <p><strong>Race :</strong> <%= @horse.race %></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p><strong>Discipline :</strong> <%= @horse.disciplines %></p>
          <p><strong>Caractère :</strong> <%= @horse.character %></p>
          <p><strong>Niveau requis :</strong> Galop <%= @horse.required_level %></p>
          <p><strong>Prix de la demi-pension :</strong> <%= @horse.monthly_price %> € / mois</p>
        </div>
      <div class="col-xs-12 col-sm-4">
        <p><strong>Description :</strong> <%= @horse.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <% if @booking.rating.nil? %>
          <%= simple_form_for @booking do |f| %>
            <%= f.input :rating, label: "Donnez une note au cheval :" %>
            <%= f.button :submit, value: "Valider", class:"btn btn-primary"%>
          <% end %>
        <% else %>
          <p>Note de la demi-pension : <%= @booking.rating %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<h3 id="map-title">Localisation</h3>
<div id="map" style="width: 100%; height: 300px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
    {
    "lat": <%= @booking.horse.latitude %>,
    "lng": <%= @booking.horse.longitude %>,
  }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
  <% end %>
<% end %>
