<h4 class ="text-center">Mes réservations précédentes </h4>

<div class ="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @bookings.each do |booking| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.horse.horse_pic.path %>')"> </div>
          <div class="card-description">
            <h2> <%= booking.horse.name %> </h2>
            <p> Prix : <%= booking.price %> </p>
            <p> Date de début : <%=   booking.start_date.strftime("%m/%d/%Y") %> </p>
            <p> Date de fin : <%= booking.end_date.strftime("%m/%d/%Y") %> </p>
          </div>
          <%= link_to "", booking, class:"card-link"%>
        </div>
      <%end%>
    </div>
  </div>
</div>
