<div class ="page-container">
<div class="tabs">
  <%= form_tag(@user, :method => "get", role: "form") do %>
    <%= text_field_tag :information, params[:information], class: "hidden", value: "information" %>
    <%= submit_tag "Mes informations", class: 'tab active'%>
  <%end%>

  <%= form_tag(@user, :method => "get", role: "form") do %>
    <%= text_field_tag :historique, params[:historique], class: "hidden", value: "historique" %>
    <%= submit_tag "Mes bookings", class: 'tab'%>
  <%end%>

  <%= form_tag(@user, :method => "get", role: "form") do %>
    <%= text_field_tag :chevaux, params[:chevaux], class: "hidden", value: "chevaux" %>
    <%= submit_tag "Mes Chevaux", class: 'tab'%>
  <%end%>

  </div>

  <div class="container">
    <div class="row align-items-center">

      <div class="col-xs-12 col-md-6">
        <div class="profile-picture">
          <% if @user.facebook_picture_url == nil %>
          <%= cl_image_tag @user.photo.path, id: "user_pic", width: 200, height: 300, crop: :fill   %>
          <% else %>
          <%= image_tag @user.facebook_picture_url, id: "user_pic" %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="profile_info">
          <h4>Nom</h4><%= @user.last_name %>
          <h4>Prénom</h4> <%= @user.last_name %>
          <h4>Votre adresse email</h4> <%= @user.last_name %>
          <h4>Date de naissance</h4><%= @user.birth_date %>
          <h4>Riding Skills</h4><%= @user.level %><p>galop</p>
          <h4>Genre</h4><%if @user.sexe == "Homme" %>
          <%= "Masculin" %>
          <% else %>
          <%= "Féminin" %>
          <% end %>
          <h4>Membre depuis</h4> <%= @user.created_at %>
        </div>
      </div>

    </div>
  </div>
</div>
