<% content_for(:title_tag) do %>
  Profil de <%= @user.first_name %>
<% end %>

<h1 class = "text-center">Votre profil</h1>

<% if params[:information] %>
  <%= render "information" %>
<% elsif params[:historique] %>
  <%= render "historique" %>
<% elsif params[:chevaux] %>
  <%= render "chevaux"%>
<% else %>
  <%= render "information" %>
<% end %>

