<div class="search">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="form-section">
            <div class="row">
                <%= form_tag(horses_path, :method => "get", id: "search-form", role:'form') do %>
                  <div class="col-md-2">
                    <div class="form-group">
                      <%= text_field_tag :location, params[:location], class: "form-control", type:"address", label: "Location", placeholder: "where ?" %>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="form-group">
                      <%= text_field_tag :rayon, params[:rayon], class: "form-control", type:"text", label: "Rayon de recherhe (Km)", placeholder: "10", value: 10 %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                        <%= text_field_tag :start_date, params[:start_date], label: "Check In", class: "form-control", type:"date", placeholder: "Check in" %>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="input-group">
                        <%= text_field_tag :end_date, params[:end_date], label: "Check Out", class: "form-control", type:"date", placeholder: "Check out" %>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <%= submit_tag "Search"%>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
